*{
    margin:0; padding:0;

}

.nav-bar{
    /* border:1px solid; */
    height:55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo-site{
    /* border:1px solid; */
    height:25px;
    width:55px;
    /* background-color: red; */
    margin-top:8px;
    margin-left:8px;
    margin-bottom: 12px;
}

.nav-menu{
    /* border:1px solid; */
    padding-top:18px;
    width:100;
    height:75px;

}

.nav-menu a{
    margin-left:25px;
    padding-top: 12px;
    text-decoration:none;
    color:black;
    font-weight:bold;
    transition: 0.5s ease;
}

.nav-menu a:hover{
    cursor:pointer;
    color:#ff7200;
}


.search-container{
    margin-left:25px;
    margin-top:16px;
    /* border:1px solid red; */
    height:30px;
    display: flex;
    background-color: rgb(242, 243, 232);

}
.search-container img{
  width:30px;
  height:40px;
}
.search-container input{
    border-top:none;
    border-left: none;
    border-right:none;
    height:29px;
    width:370px;
    border-bottom : 2px solid black;
    font-size: 16px;
    letter-spacing: 3px;
    background-color: rgb(242, 243, 232);
}

.search-container input:active{
    outline:none;
    border:none;
}

.icons-container{
    /* border:1px solid red; */
    height:45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

   
}

.icons-container .main1{
    /* border:1px solid red; */
    padding-top:5px;
    padding-left: 25px;
    height:63px;
    width: 45px;
    display: flex;
    flex-direction: column;
    transition:0.4s ease;
}
.icons-container .main1 .icon-tag{
    font-size: 10;
    font-family:arial;
    font-weight: bold;
    cursor:pointer;
}

#icon-box2{
    width: 55px;
    margin-left:10px;
    margin-right:25px;
    
}
#icon-box2 img{
    padding-left:16px;
    
}

.icons-container .main1 p:hover{
    width:fit-content;
    box-shadow:5px #ff7200;
    border:2px solid  #ff7200;
   
}


